<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hci.voladeacapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Voladeacapp"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!--
      The API key for Google Maps-based APIs is defined as a string resource.
      (See the file "res/values/google_maps_api.xml").
      Note that the API key is linked to the encryption key used to sign the APK.
      You need a different API key for each encryption key, including the release key that is used to
      sign the APK for publishing.
      You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBuEqx-SSs3zmp93IkEJgHL16oeVsyifjw" />

        <activity
            android:name=".FlightDetails"
            android:launchMode="singleTop"
            android:parentActivityName=".Voladeacapp">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResults" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Voladeacapp" />
        </activity>
        <activity
            android:name=".SearchResults"
            android:parentActivityName=".FlightDetails">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/mapa"
            android:parentActivityName=".Voladeacapp" />

        <service
            android:name=".ApiService"
            android:exported="false" />

        <activity android:name=".CheloActivity" />
        <activity
            android:name=".AddFlightActivity"
            android:parentActivityName=".Voladeacapp" />
        <activity
            android:name=".AppSettingsActivity"
            android:label="@string/title_activity_app_settings"
            android:launchMode="singleTop"
            android:parentActivityName=".Voladeacapp" />
        />
        <activity
            android:name=".FlightSettingsActivity"
            android:label="Notificaciones de "
            android:launchMode="singleTop"
            android:parentActivityName=".FlightDetails" />
        <activity
            android:name=".AddReviewActivity"
            android:label="@string/title_dejar_resena"
            android:parentActivityName=".Voladeacapp" />
        <activity android:name=".PostResenaDummy" />

        <receiver android:name=".BackgroundRefreshReceiver">
            <intent-filter android:priority="0">
                <action android:name="hci.voladeacapp.MisVuelos.ACTION_GET_REFRESH" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".OnBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".PullRequestReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="hci.voladeacapp.TIME_TO_PULL" />
            </intent-filter>
        </receiver>

        <activity android:name=".ReviewDetail"
            android:parentActivityName=".Voladeacapp"/>
    </application>

</manifest>